.wrap
{
    position: absolute;
    bottom: 57px;
    width: 205px;
    height: 310px;
    background: #242631;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.8);
}

.header
{
    font-size: 16px;
    line-height: 6px;
    color: #f1f1f1;
    margin-left: 10px;
}

.line
{
    display: flex;
    width: 205px;
    height: 40px;
    border-bottom: 1px solid #353948;
    justify-content: space-between;
}

.image
{
    margin-top: 13px;
    margin-right: 12px;
    height: 15px;
    width: 15px;
}

.image:hover
{
    cursor: pointer;
}

.elementsWrap
{
    overflow: auto;
    margin-top: 15px;
    width: 203px;
    height: 240px;;
}

.elementsWrap::-webkit-scrollbar 
{
    width: 12px;               /* ширина scrollbar */
}
  
.elementsWrap::-webkit-scrollbar-track 
{
    background: #242631;        /* цвет дорожки */
}
  
.elementsWrap::-webkit-scrollbar-thumb 
{
    background-color: #adb1cc;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #242631;  /* padding вокруг плашки */
}

.panelImage
{
    margin-top: 8px;
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.elementWrap
{
    margin-top: 2px;
    margin-left: 8px;
    width: 180px;
    height: 35px;
    border-radius: 6px;;
    display: flex;
    background: #353948;
}

.PanleText
{
    color: #f1f1f1;
    margin-top: 7px;
    margin-left: 20px;
}

.viewOn
{
    display: block;
}

.viewOff
{
    display: none;
}