.point 
{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
}

.pointTopLeft:hover
{
    cursor: nw-resize;
}

.pointBottomLeft:hover
{
    cursor: sw-resize;
}

.pointTopRight:hover
{
    cursor: ne-resize;
}

.pointBottomRight:hover
{
    cursor: se-resize;
}

.block 
{
    position: absolute;
    background: #000;
}

.blockTop, .blockBottom
{
    width: 20px;
    height: 6px;
}

.blockRight, .blockLeft
{
   width: 6px;
   height: 20px;
}   

.blockTop:hover
{
    cursor: n-resize;
}

.blockRight:hover
{
    cursor:w-resize;
}

.blockLeft:hover
{
    cursor: e-resize;
}

.blockBottom:hover
{
    cursor: s-resize;
}

.border 
{
    border: 1px dashed #000;
}